{% extends 'base.html' %}
{% block body %}

<div class="container">
    <form action="/booking/{{hotel_id}}/" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="checkin">Check-in</label>
        <input type="date" name="checkin" class="form-control" id="checkin" placeholder="check-in">
      </div>
      <div class="form-group">
        <label for="checkout">Check-out</label>
        <input type="date" name="checkout" class="form-control" id="checkout" placeholder="check-out">
      </div>
      <!-- <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">I'm above 18 years</label>
      </div> -->
      <label for="numguests">Number of guests:</label><br>
      <select name="guests" id="numguests">
          <option value="1">2</option>
          <option value="2">3</option>
      </select><br><br>
      <label for="type">Select room type:</label><br>
      <select name="roomtype" id="type">
        {% for room in hotel_rooms %}
          <option value="{{room.0}}">{{room.1}}</option>
         {% endfor %} 
      </select>
      <br><br>
      <button type="submit" class="btn btn-danger">Book</button>
    </form>
    </div>
{% endblock %}